<!----  <div class="imageb">
          <div class="imag1">
            <img src="{{ url_for('static', filename='images/exoticFruits.png') }}"alt="reload" class="img" />
            <p>Exotic Fruits</p>
          </div>
          <div class="imag2">
            <img src="{{ url_for('static', filename='images/fruits.png') }} "alt="reload" class="img" />
            <p>Fruits</p>
          </div>
          <div class="imag3">
            <img src="{{ url_for('static', filename='images/vegies.png') }} alt="reload" class="img" />
            <p>Vegetables</p>
          </div>
          <div class="imag4">
            <img src="{{ url_for('static', filename='images/streetfood.png') }} alt="reload" class="img" />
            <p>Street Food</p>
          </div>
          <div class="imag5">
            <img src="{{ url_for('static', filename='images/juice.png') }} alt="reload" class="img" />
            <p>Juices</p>
          </div>
          <div class="imag6">
            <img src="{{ url_for('static', filename='images/nonveg.png') }}" alt="reload" class="img" />
            <p>Non veg</p>
           </div>
          <div class="imag6">
            <img src="tea.png" alt="reload" class="img" />
            <p>Tea</p>
          </div>
        </div>
        <div class="card-container">
          <div class="card1">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/fruitvendor1.jpeg') }}"alt="reload" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                 <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}" alt="reload" class="headerimg" /> 
                  <span style="font-size: x-large">4.2</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card2">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/fruitvendor2.jpeg) }}" alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 2</h3>
                </div>
                 <div class="rating">
                    <img src="{{ url_for('static', filename='images/rating.png')  }}" alt="error" class="headerimg" />

                  <span style="font-size: x-large">4.1</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card3">
            <div class="card-image">
               <img src="{{ url_for('static', filename='images/fruitvendor3.jpg') }}" alt="error" class="card-img" /> 
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 3</h3>
                 </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}" alt="error" class="headerimg" /> 
                  <span style="font-size: x-large">3.8</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card4">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/vegvendor1.jpg') }}" alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                 </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}" alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.8</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card5">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/vegvendor2.jpeg') }}"  alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" /> 
                  <span style="font-size: x-large">4.6</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">8min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card6">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/vegvendor3.webp') }}"  alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                 <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" /> 
                  <span style="font-size: x-large">4.2</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">16min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card7">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/fruitvendor1.jpeg') }}"  alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/streetfood1.jpeg') }}"  alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.6</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">12min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
      
           <div class="card8">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/streetfood.png') }}" alt="error" class="card-img" />
           </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                 <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.2</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card9">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/shops1.jpeg') }}"  alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Fruits vendor 1</h3>
                </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.2</span>
                </div>
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
        </div>
      </div>

      <div id="vendorsContainer">
        <h2 class="wash">Washermen nearby</h2>
        <div class="vendcontainer">
          <div class="card1">
            <div class="card-image">
              <img src="{{ url_for('static', filename='images/washermen1.jpg') }}"  alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Washman 1</h3>
                 </div>
                <div class="rating">
                  <img src="rating.png" alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.2</span>
                </div> 
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card2">
            <div class="card-image">
              <img src='images/washerman1.jpg' alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Washman 2</h3>
                 </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.2</span>
                </div> 
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
          <div class="card3">
            <div class="card-image">
              <img src='images/washerman1.jpg' alt="error" class="card-img" />
            </div>
            <div class="content">
              <div class="header">
                <div class="vendorheader">
                  <h3>Washman 3</h3>
                  
                 </div>
                <div class="rating">
                  <img src="{{ url_for('static', filename='images/rating.png') }}"  alt="error" class="headerimg" />
                  <span style="font-size: x-large">4.2</span>
                </div> 
              </div>
              <span>Nit road, patna University, Patna</span
              ><span class="time">10min</span>
              <p>Owner-Rajesh Kumar</p>
              <p>Contact-9102563552</p>
            </div>
          </div>
        </div>

        <div class="prize">
          <h1>View Price Rate</h1>
          <div class="mycontainer">
            <div class="container1">
              <img src="{{ url_for('static', filename='images/washerman1.png') }}" alt="error" class="washimg" />
              <div class="details">
                <h1 class="washman">Washman 1</h1>
                <div class="para">
                  <p>Nit road, Patna University,Patna</p>
                  <p>Owner-Rajesh Kumar</p>
                  <p>Contact-9254674567</p>
                  <p>Washerman ID-#1334</p>
                </div>
              </div>
              
            </div>
            <div class="container2">
              <h2>Price Rate</h2>
              <div class="subcontainer2">
                <div class="items">
                  <ul>
                    <li>Items</li>
                    <li>Jeans</li>
                    <li>shirts</li>
                    <li>T-shirts</li>
                    <li>School Uniform</li>
                    <li>Coat</li>
                    <li>Towels</li>
                    <li>Miscellaneous</li>
                  </ul>
                </div>
                <div class="cost">
                  <ul>
                    <li>Cost Per item(Rs)</li>
                    <li>12</li>
                    <li>10</li>
                    <li>13</li>
                    <li>18</li>
                    <li>16</li>
                    <li>89</li>
                    <li>34</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="prize">
          
          <div class="mycontainer">
            <div class="container1">
              <img src="{{ url_for('static', filename='images/washerman1.jpg') }}" alt="error" class="washimg" />
              <div class="details">
                <h1 class="washman">Washman 1</h1>
                <div class="para">
                  <p>Nit road, Patna University,Patna</p>
                  <p>Owner-Rajesh Kumar</p>
                  <p>Contact-9254674567</p>
                  <p>Washerman ID-#1334</p>
                </div>
              </div>
              
            </div>
            <div class="container2">
              <h2>Price Rate</h2>
              <div class="subcontainer2">
                <div class="items">
                  <ul>
                    <li>Items</li>
                    <li>Jeans</li>
                    <li>shirts</li>
                    <li>T-shirts</li>
                    <li>School Uniform</li>
                    <li>Coat</li>
                    <li>Towels</li>
                    <li>Miscellaneous</li>
                  </ul>
                </div>
                <div class="cost">
                  <ul>
                    <li>Cost Per item(Rs)</li>
                    <li>12</li>
                    <li>10</li>
                    <li>13</li>
                    <li>18</li>
                    <li>16</li>
                    <li>89</li>
                    <li>34</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="form">
          <h2>Book</h2>
          <p class="service">Get your laundary just by booking. we will serve you to your home</p>
          <form class="yuvi">
            <input type="text" placeholder="username" class="styler"><br><br>
            <input type="text" placeholder="Mobile Number" class="styler"><br><br>
            <input type="text" placeholder="Address" class="styler"><br><br>
            <input type="text" placeholder="Washerman Id" class="styler"><br><br>
          </form>
          <p></p>
          <button type="button" class="book" onclick="newdoc2()">Book</button>
        </div>
        <div class="footerimage">
          <img src="" alt="error" class="footimg">
          <div class="footimagecontent">
            <h2 class="yy">Door Facilities</h2>
            <p class="yuvi2">Register items from the vendors of your local area, register nearby mess and much more</p>
          </div>
        </div>
      </div>
    </div>
    <script src="script3.js"></script> -->
</body>
</html>